:root {
    --deep-blue: #131a47;
    --light-blue: #b9c0ec;
    --fade-blue: #4d63f2;

    --insta-0: #f09433;
    --insta-25: #e6683c;
    --insta-50: #dc2743;
    --insta-75: #cc2366;
    --insta-100: #bc1888;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
    color: blue;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99;
}
.navbar .top-nav {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    color: #000;
    justify-content: space-between;
    background-color: rgba(19, 26, 71, 0.5);
}

.top-nav .contact-info {
    display: flex;
}
.top-nav .account-info {
    display: flex;
    flex-wrap: nowrap;
}
.login-account,
.contact-info .phone-no,
.contact-info .email {
    margin: 0 0.5em;
    color: #fff;
    font-weight: 400;
}

.main-nav {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    z-index: 99;
    transition: all 500ms ease-in-out;
}
.main-nav.sticky {
    position: fixed;
    height: 4em;
    background-color: #000;
}
.main-nav .logo-holder {
    min-width: 150px;
    padding: 0.5em;
    max-width: 200px;
}
.main-nav .nav-links {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-links .list-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.list-link {
    margin: 0 0.5em;
    padding: 0 0.5em;
    height: 100%;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    transition: all 250ms ease-in-out;
    position: relative;
}
.list-link::before {
    content: "";
    background-color: var(--fade-blue);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0%;
    opacity: 0;
}
.list-links > .list-link.active::before {
    bottom: 20%;
    opacity: 1;
}

.list-links:hover > .list-link {
    color: var(--fade-blue);
}
.list-links .active {
    color: var(--fade-blue);
}
.mobile-nav {
    display: none;
}

.hamburger {
    background-color: transparent;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 0.2em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}
.hamburger.clicked {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0.4em #fff;
}
.hamburger .bar {
    width: 80%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    transition: all 250ms ease-in-out;
}
.hamburger.clicked .bar {
    background-color: var(--deep-blue);
}
.hamburger .bar:nth-child(1) {
    transform: rotate(0);
    top: 20%;
    left: 10%;
}
.hamburger .bar:nth-child(2) {
    left: 10%;
}
.hamburger .bar:nth-child(3) {
    top: 72%;
    left: 10%;
    transform: rotate(0);
}
.hamburger.clicked .bar:nth-child(1) {
    top: 45%;
    left: initial;
    transform: rotate(45deg);
    box-shadow: 0 0 0.5em var(--deep-blue);
}
.hamburger.clicked .bar:nth-child(2) {
    left: -100%;
}
.hamburger.clicked .bar:nth-child(3) {
    top: 45%;
    left: initial;
    transform: rotate(-45deg);
    box-shadow: 0 0 0.9em var(--deep-blue);
}

.landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.slides {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.slider-holder.active {
    opacity: 1;
    z-index: 15;
}
.slider-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: all 600ms ease-in-out;
}
.slider-img-holder {
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-img-holder::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.719);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.slider-text-holder {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding: 0 1.5em;
    color: #fff;
}
.slider-navigation {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 18;
}
.prev-slide,
.next-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.prev-slide i,
.next-slide i {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.prev-slide i:hover,
.next-slide i:hover {
    background-color: #000;
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.747);
}
.prev-slide i:focus,
.next-slide i:focus {
    background-color: transparent !important;
    box-shadow: none;
}
.prev-slide {
    width: 10%;
    height: 100%;
    left: 0;
}
.next-slide {
    width: 10%;
    height: 100%;
    margin-left: auto;
    right: 0;
}
.slide-indicators {
    width: 100%;
    position: absolute;
    bottom: 15%;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot-ind {
    background-color: rgb(165, 165, 165);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 0.25em;
    cursor: pointer;
}
.dot-ind.active {
    background-color: #fff;
    cursor: initial;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.data-col {
    flex: 1;
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: var(--fade-blue);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
}
.footer-title {
    color: #fff;
    width: 100%;
}
.footer-subtitle {
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.text-center {
    text-align: center;
}
.footer-about {
    width: 100%;
    margin: 1em 0;
}
.footer-about .desc {
    color: #fff;
    text-align: justify;
}
.footer-socials {
    margin: 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-socials .icon {
    margin: 0 0.5em;
    font-size: 22px;
    color: #fff;
    transition: all 250ms ease-in-out;
}

.footer-socials .icon:nth-child(1):hover {
    color: rgb(39, 39, 235);
}
.footer-socials .icon:nth-child(2):hover {
    color: rgb(0, 174, 255);
}
.footer-socials .icon:nth-child(3):hover {
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.margin-top {
    margin: 0.5em 0 0 0;
}
.quick-links {
    margin: 1em 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.footer-link {
    color: #fff;
    text-align: center;
    margin: 0.25em 0;
    transition: all 200ms ease-in-out;
}
.footer-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
.footer-subscribe {
    width: 100%;
    display: flex;
    margin: 1em 0;
    flex-direction: column;
    align-items: center;
}
.form-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-holder.sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.input-space.sub {
    border: none;
    height: 3em;
    width: 70%;
    min-width: 150px;
    border-radius: 0.3em;
    padding-left: 1em;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.btn {
    min-width: 100px;
    padding: 1em 3em;
    border: none;
    font-weight: 600;
    background-color: #fff;
    color: var(--deep-blue);
    border-radius: 0.3em;
    cursor: pointer;
}
.smaller-landing {
    width: 100%;
    height: 40vh;
    background-color: yellow;
    position: relative;
}
.small-landing-img-holder {
    width: 100%;
    height: 100%;
    position: relative;
}
.small-landing-img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.815);
    animation: opacityAnim 4000ms infinite ease-in-out;
}
@keyframes opacityAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
.small-landing-text {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
}
.small-landing-title {
    font-size: 3em;
    line-height: 0.8em;
    margin: 0.25em 0;
}

.contact-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form {
    width: 70%;
    margin: 1em 0;
}

.input-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em 1em;
    flex: 1;
}
.input-holder label {
    width: 100%;
    padding-left: 0.5em;
    margin: 0 0 0.25em 0;
    color: #000;
}
.split-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.input-space {
    width: 100%;
    height: 4em;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    min-width: 150px;
    padding-left: 1em;
    transition: all 250ms ease-in-out;
}
.input-area:focus,
.input-space:focus {
    box-shadow: 0 0 0.5em rgba(19, 26, 71, 0.781);
}
.input-area {
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    color: #000;
    transition: all 250ms ease-in-out;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    padding: 1em 0 0 1em;
}
.button-holder {
    width: 100%;
    display: flex;
    padding: 1em;
}
.submit {
    transition: all 250ms ease-in-out;
    background-color: var(--fade-blue);
    color: #fff;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}
.submit:hover {
    box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.5);
}

.breadcrums {
    width: 80%;
    display: flex;
    min-height: 3em;
    align-items: center;
    justify-content: center;
}
.bread-links {
    width: 100%;
    display: flex;
    min-height: 3em;
    align-items: center;
}
.bread-link,
.bread-active {
    margin: 0 0.5em;
    font-weight: 600;
}
.bread-link {
    color: rgb(139, 139, 139);
    transition: all 150ms ease-in-out;
}
.bread-link:hover {
    color: #000;
}
.line-sep {
    width: 80%;
    background-color: #cacaca;
    height: 1px;
}
.contact-message {
    width: 70%;
    margin: 2em 0 1em 2em;
    font-weight: 100;
    color: #6e6e6e;
}

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us .row {
    width: 70%;
    max-width: 1366px;
    min-height: 20vh;
}
.about-us .row .data-col {
    min-width: 250px;
}
.about-title {
    font-size: 2em;
    text-align: center;
    width: 100%;
    color: #3348cf;
    margin-top: 1em;
}
.about-img-holder {
    width: 90%;
    height: 100%;
    min-width: 200px;
    margin-top: 1em;
}
.about-img-holder img {
    width: 100%;
    height: 100%;
    margin-left: auto;
}

.about-text {
    width: 100%;
    line-height: 1.5em;
    text-align: justify;
    min-width: 200px;
    margin: 1em 0 1em 1em;
}
.about-text.other {
    margin: 1em 0 1em 0;
}
.books-preview {
    width: 100%;
    display: flex;
    background-color: var(--fade-blue);
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.books-preview.books-page {
    background-color: #fff;
}
/* .books-preview::before {
    content: "";
    position: absolute;
    top: -20%;
    bottom: -150%;
    left: -40%;
    right: 40%;
    background-color: var(--fade-blue);
    transform: rotate(-25deg);
  }
  .books-preview::after {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 80%;
    left: 0%;
    right: 0%;
    background-color: var(--fade-blue);
  } */
.books-preview .row.books {
    z-index: 5;
    min-height: 30vh;
    width: 70%;
    max-width: 1366px;
}
.books-preview.books-page .row.books {
    width: 90%;
}
.books-preview.books-page .books-title {
    color: #000;
}
.books-title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
    color: #fff;
    z-index: 5;
}
.other-books-holder {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 0.6em;
    padding: 1em 2em;
}
.other-books-holder.books-page {
    flex-wrap: wrap;
    justify-content: flex-start;
}
.book-card {
    max-height: 300px;
    max-width: 260px;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 350px;
    box-shadow: 0 0 0.5em #000a;
    margin: 0 0.7em 1em 0.7em;
    border-radius: 0.3em;
    cursor: pointer;
    min-width: 250px;
    flex-grow: 1;
    transition: all 250ms ease-in-out;
}
.book-card:hover > .other-book-text {
    top: 22%;
}
.book-card:hover > .other-book-text .other-book-title {
    margin-top: 1em;
}
.book-card:hover > .other-book-img img {
    filter: blur(8px);
}
.book-card:hover > .other-book-text .other-book-author::before {
    right: 0%;
    transition: all 500ms linear;
}
.book-card:hover > .hover-img-card {
    top: 2%;
    transition: all 300ms linear;
}
.hover-img-card {
    width: 30%;
    position: absolute;
    z-index: 6;
    top: -100%;
    min-height: 65px;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    background-color: #fff;
    box-shadow: 0 0 0.5em #000a;
    transition: all 200ms linear;
}
.hover-img-card img {
    display: flex;
    width: 100%;
    min-height: 90px;
    z-index: -1;
}
.other-book-img {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
}
.other-book-img img {
    transition: all 350ms linear;
}
.other-book-text {
    width: 100%;
    position: absolute;
    background-color: #fff;
    height: 100%;
    padding: 1em 0.5em 0 0.5em;
    top: 83.5%;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 0.6em #000a;
}
.other-book-title {
    width: 100%;
    font-size: 15px;
    transition: all 250ms ease-in-out;
    font-weight: 800;
}
.other-book-author {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 0.5em;
    position: relative;
}
.other-book-author::before {
    content: "";
    height: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 110%;
    left: 0;
    right: 100%;
    transition: all 300ms linear;
}
.other-book-desc {
    width: 100%;
    font-size: 13px;
}
.get-book-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.get-book {
    background-color: var(--fade-blue);
    color: #fff;
    font-weight: 400;
    padding: 0.5em 2em;
    transition: all 200ms linear;
    border: 1px solid var(--fade-blue);
    outline: 1px solid var(--fade-blue);
}
.get-book:hover {
    background-color: #fff;
    color: var(--fade-blue);
    outline-offset: -8px;
    border: 1px solid var(--fade-blue);
}
.view-more {
    color: #fff;
    font-weight: 600;
    margin: 0 0 0.5em 0;
    font-size: 19px;
    transition: all 200ms linear;
}
.view-more:hover {
    transform: scale(1.05);
}

.blogs {
    background-color: #fff;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs-title {
    margin: 1em 0;
    font-weight: 800;
    color: var(--deep-blue);
    font-size: 2em;
}
.blogs-holder {
    width: 80%;
    max-width: 1366px;
    margin: 1em 0;
}
.view-more.blue {
    color: blue;
}

.blog-card {
    flex: 1;
    min-width: 300px;
    min-height: 400px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin: 1em 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.blog-card:hover .read-article-holder {
    bottom: 4%;
}
.blog-card:hover > .blog-text-holder::before {
    opacity: 1;
}
.blog-text-holder::before {
    content: "";
    top: 30%;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to top, #fff, transparent);
    transition: all 350ms ease-in-out;
}
.blog-img-holder {
    width: 100%;
    background-color: #131a47;
    min-height: 50%;
    z-index: 5;
    max-height: 50%;
}

.blog-img-holder img {
    min-height: 100%;
}
.blog-author {
    color: rgb(87, 87, 87);
}
.blog-date {
    margin: 1em 0 0 0;
    color: grey;
}
.blog-text-desc {
    font-weight: 400;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
}
.read-article-holder {
    left: 0;
    right: 0;
    position: absolute;
    bottom: -10%;
    display: flex;
    justify-content: center;
    transition: all 150ms linear;
}
.read-article {
    border: 1px solid blue;
    padding: 0.2em 1em;
    transition: all 150ms linear;
}
.read-article:hover {
    background: blue;
    color: #fff;
}

.videos {
    width: 100%;
    background-color: var(--light-blue);
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
}
.video-header {
    margin: 0 0.25em;
    color: rgb(39, 39, 39);
}
.video-date {
    font-weight: 300;
    color: rgb(53, 53, 53);
}
.videos-row {
    width: 90%;
    max-width: 1366px;
}
.videos-row .data-col {
    padding: 1em;
}
.lates-vid {
    width: 100%;
    /* min-height: 50vh; */
    font-weight: 600;
    min-width: 200px;
}
.latest-video-holder {
    width: 100%;
    height: 80%;
}
.latest-video-holder iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
}
.other-videos {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0.5em 0;
    min-width: 200px;
    overflow-y: scroll;
}
.other-videos::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
.other-videos::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.342);
    border-radius: 100px;
    cursor: pointer;
}
.other-videos::-webkit-scrollbar-thumb {
    background-color: #131a47;
    border-radius: 100px;
}

.other-videos::-webkit-scrollbar-thumb:hover {
    background-color: #1e2c8b;
    cursor: pointer;
}
.other-vid-holder {
    width: 100%;
    height: 100%;
    padding: 0 0.5em;
    margin: 0 0 1em 0;
}
.video-title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    margin: 0.5em 0;
}
.llyv {
    padding-top: 0;
    height: 350px;
    position: relative;
}
.llyv img {
    top: 0;
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0 0 1em 0;
}

.other-llvy {
    min-height: 250px;
}

.other-llvy img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.testimonies {
    min-height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testimony-title {
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    margin: 1em 0 0.5em 0;
    font-weight: 800;
}
.testimony-holder {
    width: 80%;
    margin: 0 0 2em 0;
    position: relative;
}
.testimony-card {
    width: 100%;
    min-height: 30vh;
    border: 1px solid rgb(156, 156, 156);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    position: relative;
}
.quote-ind:first-child {
    height: auto;
    width: 50px;
    margin-right: auto;
}
.quote-ind:last-child {
    height: auto;
    width: 50px;
    margin-left: auto;
    margin-bottom: 2em;
}

.testimony-indicator {
    content: "";
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.testimony-dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 0.25em;
    background-color: #000a;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: none;
}

.testimony-dot.active {
    background-color: #fff;
    border: 1px solid #000a;
}

.testimony-dot:hover {
    box-shadow: 0 0 0.5em #4d63f2;
}

.testimony-text {
    width: 80%;
    font-size: 17px;
    font-weight: 600;
    color: #1e2c8b;
    min-width: 200px;
    display: none;
    transition: all 450ms ease-in-out;
}

.testimony-text.active {
    opacity: 1;
    display: flex;
    height: fit-content;
    padding: 0 2em;
}

.book-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.book-view::before {
    content: "";
    background-color: lightblue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 75%;
    z-index: -1;
}
.book-img-view-holder {
    width: 60%;
    min-width: 250px;
    max-width: 450px;
    height: 450px;
    box-shadow: 0 0 0.5em #000a;
}
.book-img-view-holder img {
    height: 100%;
}
.row.books-view .data-col {
    min-width: 250px;
}
.book-buy-options {
    width: 60%;
    display: flex;
    margin: 1em 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn.buy-book {
    background-color: #1e2c8b;
    border-radius: 0;
    color: #fff;
    transition: all 250ms;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 1em 0;
    justify-content: center;
}
.view-book-info {
    width: 100%;
    padding: 1em;
}
.btn.buy-book:hover {
    background-color: #4d63f2;
}
.book-price {
    font-weight: 800;
    font-size: 22px;
}
.view-book-desc {
    width: 100%;
    padding: 0.5em 0;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-holder {
    min-width: 250px;
    width: 70%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    padding: 5px;
}
.gallery-img-holder img {
    transition: all 200ms linear;
    cursor: pointer;
}
.gallery-img-holder img:hover {
    transform: scale(1.04);
}
/* .gallery-img-holder {
    min-width: 150px;
  } */
.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}
.videos-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videos-holder {
    width: 80%;
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
}
.video-img-holder {
    min-height: 250px;
    position: relative;
}
.video-card {
    width: 100%;
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    box-shadow: 0 0 0.2em #000a;
    /* border: 0.01em solid #999999; */
    padding: 0.5em;
    cursor: pointer;
    margin: 0.5em;
    flex-grow: 10;
}
.video-card:last-child {
    max-width: initial;
}
.video-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.videos-title {
    width: 100%;
    text-align: left;
    font-weight: 700;
    color: rgb(44, 44, 44);
}
.videos-date {
    width: 100%;
    text-align: left;
    font-size: 0.75em;
    color: grey;
}

.photo-album {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album-holder {
    width: 80%;
    max-width: 1366px;
    display: flex;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    transition: all 250ms ease;
}
.album-card {
    width: 100%;
    flex: 1;
    margin: 0.5em;
    /* max-width: 340px; */
    background-color: #fff;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-width: 260px;
    align-items: center;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 250ms ease;
}
.album-card:hover {
    transform: scale(1.01);
}
.album-row {
    width: 100%;
    display: flex;
    max-height: 100%;
    flex-wrap: nowrap;
}
.album-images {
    flex: 1;
    max-height: 100%;
    max-width: 300px;
    width: 100%;
    display: flex;
    min-width: 100px;
    flex-direction: column;
    padding: 0.125em;
}
.album-text {
    flex: 1;
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
}
.album-text::before {
    content: "";
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to top, #fff, transparent);
}
.top-album-image {
    width: 100%;
    display: flex;
    height: 50%;
    max-height: 50%;
}
.album-img-holder {
    width: 100%;
    flex: 1;
    max-height: 100%;
    margin: 0.125em;
    display: flex;
    border-radius: 0.3em;
    overflow: hidden;
}
.album-img-holder img {
    width: 100px;
    flex: 1;
    max-width: 100%;
}
.other-album-images {
    width: 100%;
    display: flex;
    height: 50%;
    max-height: 50%;
}
.album-title {
    font-weight: 800;
    font-size: 16px;
}
.album-date {
    width: 100%;
    color: rgb(90, 90, 90);
    font-size: 13px;
}
.album-desc {
    width: 100%;
    font-size: 14px;
}
.gallery-title {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
    font-size: 800;
}
.gallery-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}
.gallery-view-row {
    width: 80%;
    display: flex;
    max-width: 1366px;
    flex-wrap: wrap;
}
.gallery-text {
    width: 100%;
    flex: 1;
}
.gallery-images {
    flex: 4;
    width: 100%;
}
.gallery-holder.gallery-views {
    width: 100%;
}

.login-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -150%;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 250ms ease;
}

.login-popup.show {
    top: 0;
}
.login-popup.show .login-popup-panel::before {
    opacity: 1;
    transition: all 250ms ease;
}

.login-popup-panel::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(2px);
    z-index: -1;
    transition: all 400ms ease;
    right: 0;
}
.login-popup-panel {
    width: 70%;
    position: relative;
    min-width: 250px;
    min-height: 30vh;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.667);
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-popup-options {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.login-popup-btn {
    width: 100px;
    background-color: #3348cf;
    color: #fff;
    margin: 0 0.5em;
    box-shadow: 0 0 0.3em #000a;
    border-radius: 0.3em;
    padding: 0.5em 0;
    transition: all 200ms ease;
}
.login-popup-btn.register {
    background-color: #25a52c;
}
.login-popup-btn:hover {
    transform: scale(1.05);
}

.user-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-profile .row {
    width: 80%;
}
.profile-nav-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.prof-logo {
    width: 100%;
    background-color: #1e2d8bf5;
    display: flex;
    padding: 0.5em;
}
.prof-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    /* border: 1px solid #7e7e7e; */
}
.prof-lists {
    display: flex;
    height: 100%;
    width: 100%;
}
.prof-link {
    width: 100%;
    padding: 0.25em 1em;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
    transition: all 250ms ease;
    color: #000a;
}
.prof-link:hover {
    background-color: #eee;
}

.prof-link.active {
    background-color: #cacaca;
    color: #000;
}
.user-info-holder {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    border: 1px solid #7e7e7e;
}
.display-info-panel {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    justify-content: center;
}
.prof-card-holder {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.125em 0;
    flex-wrap: wrap;
    border-right: 1px solid #7e7e7e;
}
.profile-title {
    width: 100%;
    border-bottom: 1px solid #7e7e7e;
    padding: 0.25em 0.75em;
}
.prof-info-title {
    width: 80px;
    margin: 0.125em 1em;
}
.prof-info-text {
    margin: 0.125em 1em;
}
.user-info-holder .row {
    width: 100%;
}
.prof-btn-options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prof-edit-info {
    width: 100px;
    background-color: #25a52c;
    display: flex;
    justify-content: center;
    margin: 0 0.25em;
    padding: 0.5em 0;
    color: #fff;
    align-items: center;
    transition: all 250ms ease;
}
.prof-edit-info:hover {
    background-color: #1bd625;
}
.prof-edit-info.logouts {
    background-color: #dc2727;
}
.prof-edit-info.logouts:hover {
    background-color: #ff0000;
}

.book-purchase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-purchase .row {
    width: 90%;
}
.btn-purchase {
    background-color: #1e2c8b;
    color: #fff;
    cursor: pointer;
    transition: all 250ms linear;
}
.btn.btn-purchase:hover {
    background-color: #2d46eb;
}
.buy-book-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}
.buy-book-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-book-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 0.5em;
}
.buy-book-row.inner {
    flex-direction: column;
}
.buy-book-image {
    height: 100%;
    min-height: 95px;
    max-width: 100px;
    min-width: 40px;
}
.buy-book-title,
.buy-book-price {
    font-size: 0.95em;
    padding: 0 1em;
}
.inner-buy-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buy-grey-title {
    color: #000a;
    font-weight: 400;
}
.buy-grey-price {
    color: #000a;
    font-weight: 600;
    padding: 0 1em;
}
.buy-total {
    color: #000;
    margin: 1.5em 0;
    font-size: 20px;
}
.buy-total-price {
    color: #000;
    margin: 1.5em 0;
    font-size: 20px;
}

.payments {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.payments-row {
    width: 90%;
    height: 100%;
    min-height: 50vh;
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.payments-panel {
    width: 100%;
    margin: 2em 0;
    max-width: 60vw;
    min-width: 180px;
    min-height: 30vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.1em #000a;
    border-radius: 0.25em;
}
.payments-panel-header {
    text-align: center;
    padding: 0.25em 0;
    width: 100%;
    border-bottom: 1px solid #000a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payments-panel-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.payment-desc {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.refresh-page {
    background-color: #25a52c;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.5em 2em;
    margin: 1em 0;
    transition: all 250ms ease;
}
.refresh-page:hover {
    background-color: #1bd625;
}

.phone-payment {
    font-weight: 700;
}
.payment-info {
    background-color: rgb(248, 240, 194);
    width: 70%;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.payment-holder {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.payment-title {
    font-size: 13px;
    width: 100px;
}
.payment-text {
    width: 100%;
    font-size: 10px;
}

.warning-text {
    background-color: #dc2727;
    box-shadow: 0 0 0.5em #dc2727;
    width: 50%;
    min-width: 150px;
    margin: 1em 0;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.3em;
}
.success-text {
    background-color: #25a52c;
    box-shadow: 0 0 0.5em #25a52c;
    width: 50%;
    min-width: 150px;
    margin: 1em 0;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.3em;
    text-align: center;
}
.payment-title-title {
    width: 100%;
    text-align: center;
}

.orders-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 1em;
}
.order-book-card {
    max-width: 155px;
    margin: 0.5em;
    box-shadow: 0 0 0.5em #000a;
    cursor: pointer;
    transition: all 250ms ease;
}
.order-book-image {
    height: 150px;
}
.order-book-card:hover {
    transform: scale(1.01);
}
.order-book-info {
    padding: 0.5em;
}
